{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{% static 'videos/img/icon.png' %}">
  <link rel="stylesheet" href="{% static 'videos/css/inicio.css' %}">
  <title>Flixy</title>
</head>
<body>

  <!-- Barra superior -->

  <header class="header">
    <div class="logo">Flixy</div>
    <form class="search-bar" id="form-busqueda">
      {{ search_form.q }}
      <button type="submit">Buscar</button>
    </form>
    <div class="user-actions">
      {% if permisos %}
      <div class="top-bar">
        <a href="/paneladmin">
          <img src="{% static 'videos/img/admin.svg' %}" alt="Perfil">
       </a>
      </div>
      {% endif %}
      <div class="top-bar">
        <a href="/videos/upload">
          <img src="{% static 'videos/img/subir.png' %}" alt="Perfil">
        </a>
      </div>
      <div class="top-bar">
        <a href="notis.html">
          <img src="{% static 'videos/img/notis.png' %}" alt="Perfil">
        </a>
      </div>
      <div class="top-bar">
        <a href="/login/"></a>
          <img src="{% static 'videos/img/perfil.png' %}" alt="Perfil">
       </a>
      </div>
    </div>
  </header>

  <!-- Menú lateral -->

  <aside class="sidebar">
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="subs.html ">Suscripciones</a></li>
        <li><a href="#">Biblioteca</a></li>
        <li><a href="historial.html">Historial</a></li>
      </ul>
    </nav>
  </aside>

  <!-- Área principal  -->

  <main class="content">
    <section class="video-section">
      <div id="search-message"></div>
      <div class="video-grid"></div>
    </section>
  </main>

  <footer class="footer">
    <p>&copy; 2025 Flixy. Todos los derechos reservados.</p>
  </footer>

</body>
<script src="{% static 'videos/js/inicio.js' %}"></script>
<script src="{% static 'videos/js/filtro_videos.js' %}"></script>
</html>