{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reproductor de Video | Flixy</title>
  <link rel="icon" type="image/x-icon" href="{% static 'videos/img/icon.png' %}">
  <link rel="stylesheet" href="{% static 'videos/css/pagvideo.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
</head>
<body>
  <header class="video-header">
    <div class="header-container">
      <div><a href="/" id="logo">Flixy</div>
      
      <div class="search-bar">
        <input type="text" placeholder="Buscar videos...">
        <button><i class="fas fa-search"></i>Buscar</button>
      </div>
    
        <div class="top-bar">
          {% if foto_perfil_usuario %}
          <a href="perfil.html">
            <img src="{{ foto_perfil_usuario }}" alt="Perfil" id="foto-perfil">
         </a>
         {% else %}
         <a href="/login" id="btn-login">Iniciar sesion</a>
         {% endif %}
        </div>
      </div>
    </div>
  </header>


  <main class="video-main">

    <section class="video-player-section">
      <div class="video-container">
        <video id="video-player" controls {% if miniatura %}poster="{{ miniatura }}"{% endif %}>
          Tu navegador no soporta video HTML5.
        </video>
      </div>

      <div class="video-info">
        <h1 class="video-title">{{ video.titulo }}</h1>
        <div class="video-meta">
          <span class="views">{{  video.reproducciones }} vistas</span>
          <span class="date">Publicado el {{ fecha_video }}</span>
          <div class="actions">
            <button class="like-btn" id="like-btn" onclick="dar_like()"><img class="fas fa-thumbs-up" id="like-img" src="{% static 'videos/img/like-off.svg' %}"><span id="like-count">{{ video.me_gusta }}</span></button>
            <button class="like-btn" id="dislike-btn" onclick="dar_dislike()"><img class="fas fa-thumbs-down" id="dislike-img" src="{% static 'videos/img/dislike-off.svg' %}"><span id="dislike-count">{{ video.no_me_gusta }}</span></button>
            <button class="share-btn" onclick="copiar_link()"><img class="fas fa-share" src="{% static 'videos/img/copy.svg' %}">Compartir</button>
          </div>
        </div>

        <div class="video-description">
          <div class="channel-info">
            <img src="{{ foto_perfil_canal }}" alt="Canal" class="channel-img">
            <div>
              <h3 class="channel-name">{{ video.nombre_canal }}</h3>
              <p class="subscribers"><span id="subscribers-count" class="subscribers">{{ video.seguidores }}</span> Subscriptores</p>
            </div>
            <button class="subscribe-btn" id="subscribe-btn" onclick="toggleSuscripcion()">Suscribirse</button>
          </div>
          <p class="description-text">{{ video.descripcion }}</p>
          <div class="video-tags">
            {% for etiqueta in etiquetas %}
              <span class="tag">{{ etiqueta.categoria }}</span>
            {% endfor %}
          </div>
        </div>
        </div>
      </div>
      
      <section class="comments-section">
        <h2 id="num-comentarios"><i class="fas fa-comments" ></i></h2>
        {% if foto_perfil_usuario %}
        <form id="comentario-form" class="add-comment" method="POST">
          {% csrf_token %}
          <img src="{{ foto_perfil_usuario }}" alt="Usuario" class="user-img">
          <input type="hidden" name="id_video" value="{{ video.id_video }}">
          <input type="text" name="contenido" placeholder="Añade un comentario público..." required>
          <button type="submit" class="comment-btn">Enviar</button>
        </form>
        {% else %}
          <p>Inicia sesion para poder comentar y dar tu reaccion!!</p>
        {% endif %}
        <div class="comments-list" id="comments-list">
        </div>
      </section>
    </section>
    
    <aside class="recommended-videos">
      <h2>Recomendados</h2>
    </aside>
  </main>
</body>
<script>
  window.videoIdGlobal = {{ video.id_video }};
</script>
<script src="{% static 'videos/js/pagvideo.js' %}"></script>
<script src="{% static 'videos/js/comentarios.js' %}"></script>
<script src="{% static 'videos/js/seguir_usuario.js' %}"></script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    load_videos();
  });
</script>
</html>